<div class="content-session-guideline">
  <div class="content-card">
    <h2 class="card-title">{{title}}</h2>
    <ng-content></ng-content>
    <div class="cs-tab">
      <div class="cs-tab-header d-flex">
        <button class="cs-nav-tab" [ngClass]="{'selected' : item.active}" *ngFor="let item of tab" (click)="selectedTab(item)">{{item.title}}</button>
      </div>
      <div class="cs-tab-body">
        <div class="cs-content-tab" *ngFor="let item of tab">
          <div *ngIf="item.active" >
              <pre class="{{item.type}}"><code class="{{item.type}}" [innerHTML]="item.content"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
