.content-guideline {
  .box-content {
    padding: 0 25px;
  }
  .title {
    background: #eee;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    h2 {
      font-weight: 400;
      font-size: 25px;
    }
  }
  .session {
    margin-bottom: 20px;
    h3 {
      font-size: 25px;
      font-weight: 400;
      padding: 10px 0 15px 0;
      margin: 0;
    }
    p {
      font-size: 15px;
      margin: 0;
      padding-bottom: 5px;
    }
    table {
      background: #fff;
      th {
        background: #f9fafb;
        border-bottom-width: 1px;
        font-weight: 500;
      }
    }
  }
  .line-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }
  .text {
    &-blue {
      color: #07a;
    }
    &-code {
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    }
    &-bold {
      font-weight: 500;
    }
    &-red {
      color: #f44336;
    }
  }
  .content-session-guideline {
    padding: 0 25px;
  }
  .content-card {
    background: #fff; // border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .02);
    padding: 10px;
    .card-title {
      font-size: 20px;
      font-weight: 500;
    }
    .label {
      margin: 0;
      padding: 15px 0 5px 0;
    }
  }
  .cs-tab {
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #dee2e6;
    :not(pre) > code[class*="language-"], pre[class*="language-"] {
      background: #fff;
    }
    .cs-tab-header {
      height: 40px;
      background: #fafafa;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      .cs-nav-tab {
        background: #fafafa;
        border: 0;
        min-width: 100px;
        display: block;
        cursor: pointer;
        padding: 0;
        outline: 0;
        position: relative;
        &.selected:after {
          position: absolute;
          content: '';
          display: block;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          background: #2196f3;
        }
      }
    }
    .cs-tab-body {}
  }
}
