body {
  margin: 0;
  color: #404040;
  background: #fafafa;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.gui-root {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fafafa;
  .gui-toolbar {
    height: 50px;
    position: relative;
    background: #3f51b5;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  }
  .gui-menu {
    width: 200px;
    background: #fff;
    padding: 5px;
    padding-top:15px;
    li {
      a {
        padding: 5px 10px;
        display: block;
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
        &:active {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
  .gui-content {
    overflow: auto;
  }
}
