<div class="content-guideline">
  <div class="title box-content d-flex align-items-center">
    <h2>{{data.name}}</h2>
  </div>
  <div class="session box-content line-bottom">
    <h3>Overview</h3>
    <p *ngFor="let item of data.overviews">
      <span [innerHTML]="item.name"></span>
      <span [innerHTML]="item.description"></span>
    </p>

  </div>
  <div class="session box-content line-bottom">
    <h3>Properties</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Default</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.properties">
          <td class="text-bold" [innerHTML]="item.name"></td>
          <td class="text-code text-blue" [innerHTML]="item.type"></td>
          <td [innerHTML]="item.description"></td>
          <td class="text-code text-red" [innerHTML]="item.default"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="session box-content line-bottom">
    <h3>Properties</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Syntax</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.methods">
          <td class="text-bold" [innerHTML]="item.name"></td>
          <td class="text-code" [innerHTML]="item.syntax"></td>
          <td [innerHTML]="item.description"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-content></ng-content>

</div>
