<div class="gui-root d-flex flex-column">
  <div class="gui-toolbar">

  </div>
  <div class="d-flex flex-full flex-row">
    <div class="gui-menu">
      <ul>
        <li>
          <a routerLink="/button">Button</a>
        </li>
        <li>
          <a routerLink="/button">Link</a>
        </li>
      </ul>
    </div>
    <div class="gui-content flex-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
