<content-guideline [data]="data">
  
  <session-guideline [title]="'1.Default'" [tab]="listTabData[0]">
    <default></default>
  </session-guideline>

  <session-guideline [title]="'2.Magic'" [tab]="listTabData[1]">
    <magic></magic>
  </session-guideline>

</content-guideline>
